/**
 *
 *	@module			ProCalendar
 *	@version		see info.php of this module
 *	@authors		David Ilicz Klementa, Burkhard Hekers, Jurgen Nijhuis, John Maats,erpe
 *	@copyright		2012-2024 David Ilicz Klementa, Burkhard Hekers, Jurgen Nijhuis, John Maats,erpe
 *	@license		GNU General Public License
 *	@license terms	see info.php of this module
 *	@platform		see info.php of this module
 *
 *	Based on MyCalendar by Burkhard Hekers
 */
 
.show_calendar {margin-bottom:20px;}
.calendarmod {border-collapse:collapse;background:#fff;width:100%;font-size:12px;font-family:arial,helvetica,sans-serif;border:1px solid #bbb;}
.calendarmod a {text-decoration:none;display:block;}
.calendarmod td {height:20px;text-align:center;line-height:20px;border:1px solid #bbb;}

.arrows {float:left;width:50%;}
tr.calendarmod-header td {text-align:center;font-weight:bold;background:#01457f;color:#fff;}
tr.calendarmod-header td a {display:block;height:20px;line-height:20px;background:#bcbdc0;font-size:16px;}
tr.calendarmod-header td a:hover {background:#9ad5f4;color:#01457f;}
td.calendar_weekday {background:#01457f;width:14%;color:#fff;}
td.calendar_markday {background:#eee;font-weight:bold;}
td.calendar_markday:hover {background:#ddd;}
td.calendar_noday {background:#fff;} 
td.procal_today {border:2px solid #ff0000;} 

.event_details {
    float: left;
    width: 96%;
    background: #eee;
    padding: 10px;
}

.actionlist {min-height:197px;}
.actionlist_header {font-weight:bold;}

.actionlist_date {white-space:nowrap;padding:3px 5px !important;}
.actionlist_time {white-space:nowrap;padding:3px 5px !important;}
.actionlist_name {padding:3px 5px !important;}
.actionlist_actiontype {white-space:nowrap;padding:3px 5px !important;}

.actionlist_table  {width:100%;font-size:12px;font-family:arial,helvetica,sans-serif;border:1px solid #bbb;}
.actionlist td {padding:3px 0;vertical-align:top;}
.actionlist tr {background:#fff;}
.actionlist tr:nth-child(odd) {background:#eee;}
.actionlist tr:hover {background:#ddd;}

.actionlist_headernav {margin:10px 0;}
.actionlist_headernav h2 {padding:0 !important;margin:0 !important;}
.actionlist_headernav a {text-decoration:none;}
.actionlist_headernav td.arrow_left {padding:3px 0 0 10px;font-size:11px;text-align:left;}
.actionlist_headernav td.arrow_right {padding:3px 10px 0 0;font-size:11px;text-align:right;}

a.go_back {font-weight:bold;text-decoration:none;}

.info_block {position:relative;float:right;width:170px;padding:10px;border:1px solid #ccc;background:#f4f4f4;margin:5px 0 15px 15px;background:#eee;}
.info_block .field_line {width:100%;clear:both;line-height:15px;margin-bottom:8px;}
.info_block .field_title {width:100%;font-weight:bold;padding:0;margin:0;}

.float_right {float:right;}

/* EXAMPLE STYLES FOR CATEGORIES 
#acttype1 {background:red;}
#acttype2 {background:green;}
#acttype3 {background:cyan;}
#acttype4 {background:blue;}
#acttype5 {background:brown;}
#acttype6 {background:purple;}
/* END OF EXAMPLE STYLES FOR CATEGORIES */


/* STYLES FOR THE MINIJS DROPLET */
/* copy this to your normal template stylesheet if you want to show the minicaljs on each page */
table.inner {border-collapse:collapse;}
table.inner td {border:1px solid #ccc;padding:2px;}
table.inner .event {color:#01457f;font-weight:bold;}
table.inner .event:hover {font-weight:bold;cursor:pointer;color:#f47325;}
